.footer {
    background-color: #0A0A0A;
    color: #ffffff;
    padding: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-info {
    text-align: center;
  }
  
  .footer-info h4 {
    margin-bottom: 10px;
  }
  
  .footer-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .footer-info a {
    color: #ffffff;
    margin-left: 5px;
    text-decoration: none;
  }
  
  .footer-info a:hover {
    text-decoration: underline;
  }
  
  
  .footer-info svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .footer-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .footer-info li {
      margin-bottom: 5px;
    }
  
    .footer-info svg {
      width: 14px;
      height: 14px;
      margin-right: 3px;
    }
  }
  